/********************************
Global Styles and UI Components
**********************************/

.container1{
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.navbar.navbar-expand-lg {
    background-color: #140A0A;
}

.card {
    background-color: #140A0A;
    border-radius: 20px;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: none;
}

.card-img-top {
    object-fit: cover;
    display: block;
}

.dropdown-menu {
    background-color: #42be99;
    border: dashed 5px #357f69;
}

.navbar-toggler {
    margin-right: 30px;
    border: solid 5px #FFFFFF;
    font-size: 28px;
    background-color: white;
    color: #FFFFFF;
}

.btn.btn-primary {
    background-color: #271C1C;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.btn.btn-primary:hover {
    background-color: #140A0A;
}

.btn.btn-secondary {
    background-color: #00cd96;
    border: none;
    font-size: 20px;
    color: #140A0A;
    font-weight: 700;
}

.btn.btn-secondary:hover {
    background-color: #FFFFFF;
    color: #140A0A;
}

.Contact-button {
    justify-content: center;
}

.Contact-icon {
    width: 23px;
    height: auto;
    margin-right: 8px;
    margin-bottom: 2%;
}

.social-icons {
    display: flex;
    gap: 24px;
}

.footer-line {
    padding-top: 15px;
    border-width: 7px;
    color: #00cd96;
    opacity: 100%;
}

/********************************
Typography
**********************************/
h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
}

.Section-title, .Section-title-2 {
   font-weight: 800;
   font-size: 60px;
   text-align: left;
}

.Showcase-title, .dropdown-item {
    color: #3d2b2b;
}

.dropdown-item {
    font-weight: 600;
}

.Section-title-2 {
    color: #140A0A;
}

.dropend,
.dropend:focus,
.dropend:active,
.dropdown-toggle {
    color: #140A0A;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item:hover {
    background-color: #140A0A;
    color: #FFFFFF;
}

.Content-title {
    color: #FFFFFF;
}

.Showcase-title, .Content-title {
    font-weight: 600;
}

p {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.Hero-text, h1, h2, p, .nav-item, .dropdown, .nav-link, .navbar-brand{
    color: #FFFFFF;
}

.navbar-brand {
    font-family: "Fredoka", sans-serif;
    font-weight: 800;
    font-size: 45px;
    padding-left: 30px;
}

.nav-item {
    margin-left: 30px;
}

.nav-item, .dropdown, .nav-link {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding-right: 30px;
    font-weight: 750;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 30px;
}

.nav-link:hover,
.nav-link:focus,
.nav-item:hover,
.navbar-brand:hover,
#navbarDarkDropdownMenuLink:focus {
    color: #00cd96;
}

.card-link {
    text-decoration: none;
    color: #00cd96;
    font-family: "Fredoka", sans-serif;
    font-weight: 800;
}

.Hero-text {
    max-width: 600px;
    padding: 125px 40px;
}

/* Responsive Hero */
@media (max-width: 993px) {
    .background1 {
        justify-content: center;
        text-align: center;
    }

    .Hero-text {
        padding: 40px 20px;
    }
}


.About-text {
    padding-top: 0px;
    flex: 1;
}

.blockquote, .blockquote-2 {
    font-weight: 700;
    font-size: 25px;
}

.project-background-title-1,
.project-background-title-2 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.project-detail-h3 {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 700;
    color: #140A0A;
    font-size: 30px;
}

.project-detail-body {
    margin-left: 7%;
}

.content-warning-text {
    font-size: 70px;
    font-weight: 700;
    color: #d10d6f;
}

.footer-heading {
    font-family: "Fredoka", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #00cd96;
    padding-bottom: 15px;
}

.footer-links {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.Service-title {
    font-weight: 800;
    padding-left: 5px;
}

.services-list {
    font-weight: 600;
    font-size: 23px;
    color: #FFFFFF;
}

/********************************
Page-Specific Styles
**********************************/
.background2{
    width: 100%;
    height: auto;
    background-color: #271C1C;
    background-image: linear-gradient(180deg, #271C1C 50%, #140A0A 100%);
}

.background1 {
    background-image: url(../images/hero_section.webp);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Showcase-section,
.Showcase-section-1,
.BrandingDesign{
   background-color: #53ba92;
}

.Showcase-section,
.Showcase-section-1,
.BrandingDesign,
.Service-design{
   background-image: url(../images/Showcase-Background.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.Showcase-section-1 {
    background-image: url(../images/Showcase-Background-Index.png);
}

.About-section {
    background-color: #140A0A;
    padding-bottom: 32px;
}

.About-image {
    max-width: 35%;
    height: auto;
}

@media (max-width: 993px) {
    .About-image {
        max-width: 90%;
        text-align: center;
        align-items: center;
    }
}

.About-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    gap: 20px;
    padding: 20px;
}

.services {
    padding: 15px 30px;
    border-radius: 30px;
}

.Service-break {
    border-width: 5px;
    width: 60%;
    opacity: 100%;
    margin: 0;
    padding-bottom: 24px;
    color: #271C1C;
}



.project-detail-visuals,
.project-detail-visuals-1 {
    display: block;
    margin-top: 0px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
}

@media (max-width: 993px) {
    .project-detail-visuals,
    .project-detail-visuals-1 {
        max-width: 80%;
    }
}